.button {
    color: $color-white;
    border: none;
    cursor: pointer;

    &__text {
        font-size: 1.3rem;
        font-weight: 700;
        width: 280px;
        height: 37px;

        background: $color-primary;
        border-radius: 8px;
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        background: lighten($color-primary, 20%);
    }
}