*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    //defines 1rem
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

