.profile {
	display: flex;

	&__nav-back {
		width: 64px;
		height: 100vh;
		position: relative;
		background-color: $color-white-darker;

		&:hover {
            background-color: darken($color-white-darker, 2%);
        }
	}

	&__nav-back-link {
		height: 100vh;
	}

	&__form {
		margin: 6rem auto;
		width: 51rem;
		display: flex;
		flex-direction: column;
	}

	&__error-msg {
		position: absolute;
		bottom: -22px;
		right: 0;
	}

	&__avatar {
		position: relative;
		margin: 0 auto;
		width: 13rem;
		height: 13rem;
	}

	&__title {
		margin-top: 2.1rem;
	}
}

