.text {
    color: $color-black;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.7;

    &--align--center {
        text-align: center;
    }

    &--align--right {
        text-align: right;
    }

    &--align--left {
        text-align: left;
    }

    &--weight--bold {
        font-weight: 700;
    }

    &--size--big {
        font-size: 4rem;
    }

    &--size--small {
        font-size: 1.3rem;
    }

    &--size--smaller {
        font-size: 1.2rem;
    }

    &--size--tiny {
        font-size: 0.9rem;
    }

    &--theme--danger {
        color: $color-danger;
    }

    &--theme--label {
        color: $color-grey;
    }

    &--theme--grey {
        color: darken($color-grey, 30%);
    }

    &--theme--primary {
        color: $color-primary;
    }

    &--theme--light {
        color: $color-white;
    }


}
