.dropdown {
  &__toggle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
        
    }
  }

  &__list {
      display: none;
  }
  &__item {
  }

  &__icon {
      width: 22px;
      height: 22px;
      border: $color-primary;
      border-radius: 50%;

      &--big {
        width: 32px;
        height: 32px;
      }
  }
}
