.text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.7;
    color: $color-black;
    // background: $color-white;

    &--align--center {
        text-align: center;
    }

    &--align--right {
        text-align: right;
    }

    &--weight--bold {
        font-weight: 700;
    }

    &--size--big {
        font-size: 4rem;
    }

    &--size--small {
        font-size: 1.3rem;
    }

    &--size--tiny {
        font-size: .9rem;
    }

    &--theme--danger {
        color: $color-danger;
    }

    &--theme--label {
        color: $color-grey;
    }

    &--theme--link {
        color: $color-primary;
    }

    &--theme--light {
        color: $color-white;
    }

}