// вспомогательная обертка компоненты
.block-wrapper {
    //width: 100%;
    //height: 100%;
    //display: contents;
}

.box {
    &--center {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &--all-parent-space {
        display: block;
        height: 100%;
        width: 100%;
    }

    &--all-viewport-space-fixed {
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
    }

    &--has-shadow {
        box-shadow: 0 0 6px rgba($color-black, 0.14);
    }

    &--round-border--small {
        border-radius: 12px;
    }

    &--round-border--big {
        border-radius: 30px;
    }

    &--round-border--circle {
        border-radius: 50%;
    }

    &--background--label {
        background-color: $color-grey;
    }

    &--background--primary {
        background-color: $color-primary;
    }

    &--underlined {
        border: none;
        border-bottom: 1px solid $color-grey-light;
    }

    &--underlined-primary {
        border: none;
        border-bottom: 1px solid $color-primary;
    }

    &--hidden {
        opacity: 0;
        visibility: hidden;
    }

    &--none {
        display: none;
    }

    &--as--block {
        display: block;
    }

    &--as--flex {
        display: flex;
    }

    &--as--flex-center {
        display: flex;
        justify-content: center;
    }

    &--width--150 {
        width: 15rem;
    }

    &--width--250 {
        width: 25rem;
    }

    &--margin-y--60 {
        margin-bottom: 6rem;
        margin-top: 6rem;
    }

    &--margin--auto {
        margin: auto;
    }
}
