.popup {
    background-color: rgba($color-black, 0.8);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    &__inner {
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    }

    //Open states
    &:target {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    &:target &__inner {
        display: block;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey;
            display: inline-block;
            font-size: 3rem;
            // TODO: transition: all 0.2s ;
            line-height: 1;
            position: absolute;
            right: 2.5rem;
            text-decoration: none;
            top: 2.5rem;
        }

        &:hover {
            color: $color-primary;
        }
    }
}
