.dialogs {
  height: 100vh;
  overflow: hidden;
  display: flex;

  &__aside-panel {
    width: 31rem;
    height: 100vh;
    padding: 0 10px;
    border-right: 1px solid $color-grey-light;
    position: relative;
  }

  &__chat-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__search {
    margin: 2px 0 14px 0;
  }

  &__scroller {
    overflow: hidden;
    // overflow-x: hidden;
    position: absolute;
    margin-top: 90px;
    padding: 10px 10px 10px 0;
    top: 0;
    bottom: 0;

    &:hover {
      overflow-y: scroll;
      @include scrollbars(1px, $color-primary, #00000000);
    }
  }
}

.chat-content {
  width: 100%;
  margin: 0 20px;

  &__header {
    display: flex;
    height: 5.4rem;
    align-items: center;
    border-bottom: 1px solid $color-grey-light;
  }

  &__main {
    flex: 1 auto;
  }

  &__footer {
  }

  &__default {
  }

  &__avatar-wrap {
    margin: 10px 0;
  }

  &__avatar {
    width: 3.4rem;
    height: 3.4rem;
  }
}

.profile-link {
  position: relative;
  text-align: right;
  margin: 16px 0;

  &::after {
    // font-family: "Font Awesome 5 Free";
    // font-weight: 900;
    content: ">";
  }
}
.link {
  text-align: center;
}
.icon-arrow-right {
}
.search {
  position: relative;

  &__input {
    width: 290px;
    height: 3.2rem;
    background: $color-grey-light;
    border-radius: 5px;
    border: none;
    text-align: center;

    &:focus {
      outline: none;
      padding-left: 34px;
      text-align: left;

      & + .input__icon {
        left: 5px;
      }
    }
  }
}

.input__icon {
  position: absolute;
  top: 0;
  left: 34%;
  font-size: 1.3rem;
  margin: 9px;
  color: $color-grey;
}

.chat-list {
}
.chat-item {
  margin: -1px 0;
  border-top: 1px solid $color-grey-light;
  border-bottom: 1px solid $color-grey-light;
  padding: 2px 0;

  &--selected {
    background-color: $color-selected;
  }

  &__inner {
    position: relative;
    display: flex;
    align-content: space-between;
    margin: 0 -10px;
    padding: 0 10px;
    cursor: pointer;
  }

  &__avatar {
    width: 4.7rem;
    height: 4.7rem;
    margin: 10px 0;
  }

  &__msg-wrap {
    flex: 1 auto;
    margin: 5px 10px;
    line-height: 1.5;
  }

  &__name {
  }

  &__msg {
    max-height: 30px;
    max-width: 200px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__date {
    right: 10px;
    top: 10px;
    position: absolute;
  }

  &__badge {
    width: 20px;
    height: 20px;
    background-color: $color-primary;
    border-radius: 50%;
    position: relative;
    margin: auto 0 10px;
  }

  &__counter {
    color: $color-white;
    margin: auto;
  }
}
.image {
  &--small {
  }

  &--big {
  }
}

.avatar {
  &--small {
  }

  &__photo {
  }

  &__title {
    margin: auto auto auto 10px;
  }
}

.icon-plus {
}
.icon-close {
}
.chat-attach-dropdown {
  &__toggle {
  }
}
.dropdown-icon {
}
.chat-attach-dropdown-list {
}
.chat-attach-dropdown-item {
}
.icon-photo {
}
.icon-file {
}
.icon-location {
}
.message {
  &__input {
  }
}
.send {
}
