.profile {
	display: flex;
	margin-top: 6rem;

	&__nav-back {
		width: 64px;
		height: 100vh;
		position: relative;
		background-color: $color-white-darker;

		&:hover {
            background-color: darken($color-white-darker, 2%);
        }
	}

	&__form {
		margin: 6rem auto;
		width: 51rem;
		display: flex;
		flex-direction: column;
	}

	&__footer {
		margin: 0 auto;
	}

	&__avatar {
		position: relative;
		margin: 0 auto;
		width: 13rem;
		height: 13rem;
    }
}

