.error {
    &__inner {
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
    }

    &__number {
        margin-bottom: 20px;
    }

    &__msg {
        margin-bottom: 70px;
    }
}
